SERVICE_ACCOUNT_PATH = "path_to_service_account_json"
PROJECT_ID = "gcp_project_id"
DATASET_NAME = "gcp_bigquery_dataset_name"
BUCKET_NAME = "gcs_bucket_name"
LOCATION = "gcp_region_or_multi_region"

AZURE_OPENAI_API_KEY = "azure_openai_api_key"
AZURE_OPENAI_ENDPOINT = "azure_openai_api_endpoint"
AZURE_OPENAI_GPT_4o = "azure_openai_gpt_4o_model_name"
AZURE_OPENAI_GPT_o3_mini = "azure_openai_gpt_o3_mini_model_name"
AZURE_OPENAI_GPT_5_2 = "azure_openai_gpt_5.2_model_name"

GEMINI_API_KEY = "gemini_genai_api_key"

OPENAI_API_KEY = "open_ai_api_key"

HF_TOKEN = "hf_token"

AZURE_AI_API_KEY ="azure_ai_api_key"
AZURE_AI_ENDPOINT = "azure_ai_endpoint"

ANTHROPIC_API_KEY = "anthropic_api_key"